@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --move: 128.75px; 
}

body {
    box-sizing: border-box;
    background-color: rgb(250, 248, 239);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#all-wrapper {
    min-height: 100vh;
    display: flex;
}
#content-container {
    padding-left: 2em;
    height: inherit;
    max-width: 50%;
}
#header {
    color: #776e65;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#header h1 {
    font-size: 70px;
    font-weight: 700;
    padding: 0;
    margin-bottom: -10px;
    letter-spacing: 5px;
}
#header h2 {
    font-size: 25px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 10px;
}
p {
    color: #776e65;
}
#reference p{
    color: rgb(255, 255, 255);
    border-radius: 3px;
    background: rgb(237, 197, 63);
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

#reference a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
#reference em{
    text-decoration: underline;
}

/* Button Part */
#btn-wrapper {
    margin: 15px;
    display: flex;
    align-items: center;
}
#btn-wrapper div {
    margin: 9px;
    text-align: center;
}
#score {
    display:inline-block;
    background: rgb(187, 173, 160);
    border-radius: 3px;
    line-height: 0.75em;
    width: 100px;
}
#best {
    display:inline-block;
    background: rgb(187, 173, 160);
    border-radius: 3px;
    line-height: 0.75em;
    width: 100px;
}
#start {
    display: inline-block;
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(143, 122, 102);
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
a#start{
    text-decoration: none;
    color: #f9f6f2;
}
div.title {
    color: #eee4da;
    font-size: 13px;
    font-weight: bold;
}
div.number {
    color: white;
    font-size: 25px;
    font-weight: 700;
}


/* Rule */
#rule {
    padding: 2em 0;
    font-size: 22px;
    color: #776e65;
}

#credit {
    position: absolute;
    bottom: 0px;
    font-size: 15px;
    color: #776e65;
}
#credit a{
    color: #776e65;
    text-decoration: none;
    font-weight: bold;
}

#board-container {
    height: inherit;
    max-width: 50%;
    margin: auto;
    /* display:flex;
    justify-content:center;
    align-items:center; */
}
#grid-container {
    padding: 15px;
    margin: auto;
    width: 500px;
    height: 500px;
    background: rgb(187, 173, 160);
    border-radius: 6px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.grid-cell {
    background: rgba(238, 228, 218, 0.35);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-block {
    background: rgb(238, 228, 218);
    color: #776e65;
    border-radius: inherit;
    font-weight: 800;
    font-size: 55px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: appear;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
@keyframes appear {
    0% {
        font-size: 0px;
        height: 0%;
        width:0%;
    }
    100% {
        font-size: 55px;
        height: 100%;
        width:100%;
    }
}

/* Animation class */
.enlarge {
    animation: enlarge 200ms ease;
    animation-fill-mode: forwards;
    /* animation-delay: 100ms; */
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.moveright1 {
    animation: right1 100ms;
    animation-fill-mode: forwards;
}

@keyframes right1 {
    0%{
        transform: translateX(calc(-1*var(--move)));
    }
    100% {
        transform: translateX(0);
    }
}
.moveright2 {
    animation: right2 100ms;
    animation-fill-mode: forwards;
}

@keyframes right2 {
    0%{
        transform: translateX(calc(-2*var(--move)));
    }
    100% {
        transform: translateX(0);
    }
}
.moveright3 {
    animation: right3 100ms;
    animation-fill-mode: forwards;
}

@keyframes right3 {
    0%{
        transform: translateX(calc(-3*var(--move)));
    }
    100% {
        transform: translateX(0);
    }
}

.movedown1 {
    animation: down1 100ms;
    animation-fill-mode: forwards;
}

@keyframes down1 {
    0%{
        transform: translateY(calc(-1*var(--move)));
    }
    100% {
        transform: translateY(0);
    }
}
.movedown2 {
    animation: down2 100ms;
    animation-fill-mode: forwards;
}

@keyframes down2 {
    0%{
        transform: translateY(calc(-2*var(--move)));
    }
    100% {
        transform: translateY(0);
    }
}
.movedown3 {
    animation: down3 100ms;
    animation-fill-mode: forwards;
}

@keyframes down3 {
    0%{
        transform: translateY(calc(-3*var(--move)));
    }
    100% {
        transform: translateY(0);
    }
}

.moveleft1 {
    animation: left1 100ms;
    animation-fill-mode: forwards;
}

@keyframes left1 {
    0%{
        transform: translateX(calc(1*var(--move)));
    }
    100% {
        transform: translateX(0);
    }
}
.moveleft2 {
    animation: left2 100ms;
    animation-fill-mode: forwards;
}

@keyframes left2 {
    0%{
        transform: translateX(calc(2*var(--move)));
    }
    100% {
        transform: translateX(0);
    }
}
.moveleft3 {
    animation: left3 100ms;
    animation-fill-mode: forwards;
}

@keyframes left3 {
    0%{
        transform: translateX(calc(3*var(--move)));
    }
    100% {
        transform: translateX(0);
    }
}

.moveup1 {
    animation: up1 100ms;
    animation-fill-mode: forwards;
}

@keyframes up1 {
    0%{
        transform: translateY(calc(1*var(--move)));
    }
    100% {
        transform: translateY(0);
    }
}
.moveup2 {
    animation: up2 100ms;
    animation-fill-mode: forwards;
}

@keyframes up2 {
    0%{
        transform: translateY(calc(2*var(--move)));
    }
    100% {
        transform: translateY(0);
    }
}
.moveup3 {
    animation: up3 100ms;
    animation-fill-mode: forwards;
}

@keyframes up3 {
    0%{
        transform: translateY(calc(3*var(--move)));
    }
    100% {
        transform: translateY(0);
    }
}

